/Library/
/Temp/
/obj/
/Logs/
/UserSettings/
/Builds/
/*[Bb]uild*/
/*.sln
/*.csproj
/.vscode/
/.vs/

/Assets/4000_Fantasy_Icons
/Assets/Kevin Iglesias
/Assets/PolygonWar*
/Assets/POLYMORPHFX